html, body {
  margin: 0; 
  height: 100%; 
  overflow: hidden;
  box-sizing: border-box;
}

.header {
  width: 100vw;
  height: 50px;
  background-color: #466d1d;

  border-style: solid;
  border-width: 3px 3px 0 3px;
}

.content {
  height: 100vh;
  width: 100vw;
  
  background-color: #466d1d;

  border: 2px solid #000;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 35% 15% 40%;
}

.squares-wrapper {
  margin-top: 10px;
  transform: translateX(15%) translateY(40%) rotate(45deg);
}

.square {
  width: 25%;
  margin-bottom: 50px;

  background-color: #ff0000;

  border: 3px solid #000;
}


.square:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}

.middle-section {
  display: grid;
  margin: 10px 20px 0 20px;
  grid-template-columns: 1fr 1fr;
}

.line-section {
  width: 50%;
}

.line {
  height: 10px;
  width: 80%;
  display: block;

  margin: 25px 75px 25px 0;

  background-color: #0000FF;
  
  border: 3px solid #000;
}

.circle {
  height: 100%;
  width: 70%;

  background-color: #008080;

  border-radius: 50%;
  border: 3px solid #000;

}

.rectangle-section {
  font-size: 40px;
  margin: 20px 0 10px 100px;
  text-align: center;
}

.rectangle {
  height: 100%;
  width: 50%;
  
  background-color: #0000FF;

  border: 3px solid #000;
}

@media(min-width: 583px) {
  .content {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .square {
    width: 40%;
    transform: translateY(-30%);
  }

  .middle-section {
    grid-column: 1;
  }

  .lines-section {
    margin-top: 15%;
  }

  .line {
    width: 120%;
    height: 20px;
    margin-bottom: 50px;
  }

  .circle {
    height: 40%;
    width: 110%;
    transform: translateX(30%);
  }

  .rectangle-section {
    grid-column: 2;
    grid-row: 1/3;
  }

  .rectangle {
    height: 50%;
    width: 90%;
    transform: translateY(50%);
    background-color: #e95454;
  }

  @media(min-width: 900px) {
    .content {
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr;
    }

    .rectangle-section {
      grid-column: 3;
    }

    .middle-section{
      grid-column: 2;
      transform: translateY(30%);
      margin: 0 20% 0 20%;
    }

    .square {
      min-width: 200px;
    }

    .line {
      width: 100%;
      height: 20px;
      
      margin-bottom: 100px;
    }  

    .circle {
      height: 20%;
      width: 100%;
      margin-top: 10%;
    }

    .rectangle {
      height: 70%;
      width: 80%;

      transform: translateY(25%) translateX(10%);

      background-color: #fff;
    }
  
  }
}